@charset "utf-8";
*{margin:0;padding: 0;}
img{display: block;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}


.container{
	width:100%;
	margin:0 auto;
}
.header{
	width:100%;
	height:272px;
	border-bottom: 1px solid #000;
}
/*头部最顶端开始*/
.headerTop{
	width:100%;
	height:32px;
	background: #EEEEEE;

}
.headerTopCont{
	width:1190px;
	height:32px;
	/*background: red;*/
	margin:0 auto;
}
/*头部顶端左侧导航开始*/
.headerTopCont .headerTopContLeft{
	height:32px;
	width:280px;
	text-align: center;
	float:left;
}


.headerTopCont .headerTopContLeft li{	
	float:left;	
	font-size: 12px;
	text-align: center;
}
/*|lines表示的是分割线*/
.headerTopCont .headerTopContLeft .lines{
	color:#ccc;
	margin-top: 10px;
}
.headerTopCont .headerTopContLeft li a{
	color:#666;
	display: block;
	height:20px;
	margin-top: 6px;
	line-height: 20px;
	
}

/*银泰首页的*/
.headerTopCont .headerTopContLeft .headerTopContLeftFirst a{
	width:58px;
	padding-left:22px;
	margin-left: 6px;
	background: url(../img/header-02.png) no-repeat -224px 0px;
	color:#666;
	top:6px;
}
.headerTopCont .headerTopContLeft .headerTopContLeftFirst a:hover{
	background: url(../img/header-02.png) no-repeat -224px -27px;
	color:#E5004F;
}

/*手机微信*/
.headerTopCont .headerTopContLeft .headerTopContLeftSecond{
	width:77px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
/*	border: 1px solid #f66;*/
}
.headerTopCont .headerTopContLeft .headerTopContLeftSecond a{
	width:57px;
	padding-left:10px;
	margin-left: 10px;
	
	background: url(../img/header-02.png) no-repeat -224px -58px;
}
.headerTopCont .headerTopContLeft .headerTopContLeftSecond img{
	width:65px;
	padding: 6px;
	
	border-top: 1px solid #666;
	display: none;
}
.headerTopCont .headerTopContLeft .headerTopContLeftSecond a:hover{
	background: url(../img/header-02.png) no-repeat -224px -88px;
	color:#E5004F;
}

/*下拉标记*/
.headerTopCont .headerTopContLeft .selectSign{
	display: block;
	width:10px;
	height:7px;
	background: url(../img/header-02.png) no-repeat -175px -110px;
	float:right;
	margin-top: 8px;
	margin-left: -15px;
}
.headerTopCont .headerTopContLeft a:hover .selectSign{
	background: url(../img/header-02.png) no-repeat -175px -127px;
}
/*手机APP*/
.headerTopCont .headerTopContLeft .headerTopContLeftThird{
	width:90px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	
}
.headerTopCont .headerTopContLeft .headerTopContLeftThird a{
	width:80px;
	margin-left: 10px;
	background: url(../img/phone.png) no-repeat;
}
.headerTopCont .headerTopContLeft .headerTopContLeftThird img{
	width:78px;
	padding: 6px;
	display: none;
	border-top: 1px solid #666;
}
.headerTopCont .headerTopContLeft .headerTopContLeftThird a:hover{
	background: url(../img/phone.png) no-repeat 0px -20px;
	color:#E5004F;
}
/*头部顶端左侧导航结束*/

/*头部顶端右侧导航开始*/
.headerTopCont .headerTopContRight{
	width:510px;
	height:100%;
	float:right;
	line-height: 32px;
	position: relative;
}
.headerTopCont .headerTopContRight p{
	color:#666;
	font-size: 12px;
}
.headerTopCont .headerTopContRight p,.headerTopCont .headerTopContRight .headerTCRList{
	float:left;
}
.headerTopCont .headerTopContRight .headerTCRList>li{
	float:left;
	
}
.headerTopCont .headerTopContRight .headerTCRList>li a{
	margin-left: 12px;
}
.headerTopCont .headerTopContRight .headerTCRList .myList{
	display: none;
	z-index: 99;
	position: relative;
}

/*我的银泰卡*/
.headerTopCont .headerTopContRight .headerTCRList .myList li{
	height:30px;
	border-bottom: 1px solid #CCCCCC;
	position: relative;
}
.headerTopCont .headerTopContRight .headerTCRList .myList a{
	line-height: 32px;
}
.headerTopCont .headerTopContRight .headerTCRList .myList a:hover{
	text-decoration: underline;
}
.headerTopCont .headerTopContRight .headerTCRList a{
	display: block;
	color:#666;
	font-size: 12px;
}

.headerTopCont .headerTopContRight .headerTCRList a:hover{
	color:#E50048;
}
/*登陆注册*/
.headerTopCont .headerTopContRight .headerTCRList .headerTCRListLoad a{
	float:left;
}
.headerTopCont .headerTopContRight .headerTCRList .headerTCRListRe{
	margin-left:15px;
}
.headerTopCont .headerTopContRight .headerTCRList .lines{
	color:#ccc;
}

/*下拉标记*/
.myYt{
	width:70px;
	border: 1px solid transparent;
}
.headerTopCont .headerTopContRight .selectSign{
	display: block;
	width:10px;
	height:7px;
	background: url(../img/header-02.png) no-repeat -175px -110px;
	float:right;
	margin-top: 12px;

}
.headerTopCont .headerTopContRight a:hover .selectSign{
	background: url(../img/header-02.png) no-repeat -175px -127px;
}
/*头部顶端右侧导航结束*/
/*头部最顶端结束*/

/*头部第二层的广告开始*/
.headerPic{
	width:100%;
	height:80px;
	background: url(../img/sencond.jpg) no-repeat center;
	margin:0 auto;
}
/*头部第二层的广告结束*/

/*头部搜索层开始*/
.headerSearch{
	height:120px;
	width:100%;
		
}
.headerSearch .headerSearchWrap{
	width:1190px;
	height:120px;
	margin:0 auto;

}

.headerSearch .headerSearchWrap .logo{
	width:360px;
	height:80px;
	margin:17px 0px 20px;
	float: left;
}
.headerSearch .headerSearchWrap .logo a{
	display: block;
	float: left;
}
.headerSearch .headerSearchWrap .logoLeft{
	width:220px;
	height:78px;
	background: url(../img/header-02.png) no-repeat 0px 0px;
}
.headerSearch .headerSearchWrap .logoRight{
	width:120px;
	height:80px;
	background: url(../img/logoRight.gif) no-repeat;
	border-left:1px solid #ccc;
}

/*搜索开始*/
.headerSearch .headerSearchWrap .search{
	width:676px;
	height:70px;
	float: right;
	margin-top:48px;
}
.headerSearch .headerSearchWrap .search .searchTop{
	width:676px;
	
	
}
.headerSearch .headerSearchWrap .search .searchTop form{
	height:34px;
	margin: 12px 0px;
	float: left;
}
.headerSearch .headerSearchWrap .search .searchTop input[type='text']{
	display: block;
	float: left;
	width:445px;
	height:30px;
	padding-left: 5px;
	color: #666;
	font-size: 12px;
	border:2px solid #323333;
}
.headerSearch .headerSearchWrap .search .searchTop input[type='button']{
	display: block;
	float: left;
	width:45px;
	height:34px;
	background: url(../img/header-01.png) no-repeat 0px -76px;
	border:0px;
}
.headerSearch .headerSearchWrap .search .searchTop .buyCar{
	display: block;
	width:160px;
	height:34px;
	text-align: center;
	line-height: 34px;
	float: right;
	margin-top: 12px;
	background: url(../img/header-01.png) no-repeat -55px -76px;
	color:#fff;
	font-size: 12px;
	position: relative;
	
}
.headerSearch .headerSearchWrap .search .searchTop .buyCar span{
	color:#E50048;
	margin:0px 4px;
	font-size: 14px;
}
.headerSearch .headerSearchWrap .search .searchTop .buyCarNum{
	width:300px;
	height:60px;
	background:#fff;
	position: absolute;
	right:0px;
	top:34px;
	text-align: center;
	line-height: 70px;
	color:#666;
	z-index: 99;
	box-shadow: 0px 0px 5px #666;
	display: none;
}

.headerSearch .headerSearchWrap .search .searchNav{
	font-size: 12px;
	width:500px;
	height:12px;
}
.headerSearch .headerSearchWrap .search .searchNav li{
	float:left;
	margin-right:12px;
}

.headerSearch .headerSearchWrap .search .searchNav li a{
	color:#968896;
}
.headerSearch .headerSearchWrap .search .searchNav .red a{
	color:#E5004F;
}
.headerSearch .headerSearchWrap .search .searchNav li a:hover{
	color:#E5004F;
}
/*搜索结束*/
/*头部搜索层的广告结束*/

/*导航开始*/
.headerNav{
	width:1190px;
	height:40px;
	margin:0 auto;
	line-height: 40px;
	position: relative;
}
.headerNav .nav{
	float:left;
}
.headerNav .nav li{
	float:left;
}
.headerNav .nav .navList a{
	display: block;
	margin-left:50px;
	color:#323333;
	font-size: 14px;
	height:38px;
}
.headerNav .nav .navList a:hover{
	color:#E5004F;
	border-bottom: 2px solid #E5004F;
}
.headerNav .nav .all{
	background: #222222;
}
.headerNav .nav .all a{
	display: block;
	margin:0px 70px;
	color:#fff;
	font-size: 18px;
}
.headerNav .navRight{
	float:right;
	width:160px;
	height:40px;
}
.headerNav .navRight li{
	
	float: left;
}
.headerNav .navRight li a{
	color:#323333;
	font-size: 14px;
	margin:0px 10px;
}
.headerNav .navRight li a:hover{
	color:#E5004F;
}

/*一级菜单开始*/
.headerNav .menu{
	width: 212px;
	height: 470px;
	background: #333333;
	position: absolute;
	left:0px;
	top:40px;
	z-index: 999;
}
.headerNav .menu>li{
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #515151;
}

.headerNav .menu .red{
	background: #E50048;
}
.headerNav .menu .menuEach li{
	float: left;
}
.headerNav .menu .menuEach .lines{
	margin: 0px 5px;
	color:#999999;
}
.headerNav .menu .menuEach li a{
	display: block;
	color:#fff;
	
}
/*菜单的背景图片*/
.headerNav .menu .menuEach1 a{
	display: block;
	width:16px;
	height:16px;
	margin:16px 5px 0px 15px;
	background: url(../img/header-01.png) no-repeat;
}

.headerNav .menu .menuList:hover .menuEach1 a{
	background: url(../img/header-01.png) no-repeat;
}

.headerNav .menu .menuEach1 .bg1{
	background-position: 0px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg1{
	background-position: 0px -128px;
}

.headerNav .menu .menuEach1 .bg2{
	background-position: -17px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg2{
	background-position: -17px -128px;
}

.headerNav .menu .menuEach1 .bg3{
	background-position: -34px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg3{
	background-position: -34px -128px;
}

.headerNav .menu .menuEach1 .bg4{
	background-position: -51px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg4{
	background-position: -51px -128px;
}

.headerNav .menu .menuEach1 .bg5{
	background-position: -68px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg5{
	background-position: -68px -128px;
}

.headerNav .menu .menuEach1 .bg6{
	background-position: -85px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg6{
	background-position: -85px -128px;
}

.headerNav .menu .menuEach1 .bg7{
	background-position: -102px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg7{
	background-position: -102px -128px;
}

.headerNav .menu .menuEach1 .bg8{
	background-position: -119px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg8{
	background-position: -119px -128px;
}

.headerNav .menu .menuEach1 .bg9{
	background-position: -136px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg9{
	background-position: -136px -128px;
}

.headerNav .menu .menuEach1 .bg10{
	background-position: -154px -110px;
}
.headerNav .menu .menuList:hover .menuEach1 .bg10{
	background-position: -154px -128px;
}

.headerNav .menu .menuEach .menuEach2 a{
	font-size: 16px;
}
.headerNav .menu .menuEach .menuEach3 a{
	font-size: 12px;
}
.headerNav .menu .menuEach3 a:hover{
	text-decoration: underline;
}
.headerNav .menu .menuEach .menuEach4{
	color:#ccc;
	font-size: 8px;
	float:right;
	margin-right: 15px;
}

/*一级菜单结束*/

/*二级菜单*/
.headerNav .menu .menuSec{
	position: absolute;
	top:0px;
	left:212px;
	width:480px;	
	background: #999;	
	height: 470px;
	display: none;
}
.headerNav .menu .menuSec1{
	
}
/*一级菜单结束*/

/*导航结束*/

/*中间内容部分最小高度*/
#main{
	width: 100%;
	min-height: 400px;
	height: auto!important;
	height: 400px;	
}
#main:after{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

/*底部开始*/
#footer{
	width: 100%;
	height: 290px;
}
.footer{
	width: 1190px;
	height:290px;
	margin:0 auto;
}

/*底部质量保证*/

.footer .footerList{
	height:88px;
	background: #F9F9F9;
	border: 1px solid #ccc;
}
.footer .footerList li{
	float:left;
	padding:22px 62px;
	border-right:1px solid #ccc;
}
.footer .footerList .last{
	border:0px;
}

.footer .footerList .footerListDiv1 p{
	margin-left:18px;
	line-height: 20px;
}
.footer .footerList .footerListFir1 span{
	font-size: 15px;
	color:#E7004F;
}
.footer .footerList .footerListFir1 b{
	font-weight: 100;
	font-size: 9px;
	margin-left:24px;
}

.footer .footerList div{
	height:42px;
}
.footer .footerList .footerListFir2{
	font-size: 14px;
	color:#000;
	line-height: 20px;
}
.footer .footerList .footerListFir2 span{
	color:#E7004F;
}
.footer .footerList .footerListSec2{
	font-size: 11px;
	color:#888888;
	
}
.footer .footerList .footerListDiv1{
	background: url(../img/footer.png) no-repeat;
}
.footer .footerList .footerListDiv1 p{
	margin-left: 25px;
}
.footer .footerList .footerListDiv2{
	background: url(../img/footer.png) no-repeat 0px -82px;
}
.footer .footerList .footerListDiv2 p{
	margin-left: 50px;
}

.footer .footerList .footerListDiv3{
	background: url(../img/footer.png) no-repeat 0px -160px;
}
.footer .footerList .footerListDiv3 p{
	margin-left: 52px;
}

.footer .footerList .footerListDiv4{
	background: url(../img/footer.png) no-repeat 0px -234px;
	
}
.footer .footerList .footerListDiv4 p{
	margin-left: 63px;
}

/*友情链接*/
.footer .footerA{
	width: 1190px;
	height: 37px;
	padding-top:40px;
}

.footer .footerA .footerAList{
	width: 900px;
	height: 16px;
	margin:0 auto;
}
.footer .footerA .footerAList li{
	float:left;	
	line-height: 16px;
	
}
.footer .footerA .footerAList .lines{
	color:#757575;
}
.footer .footerA .footerAList li a{
	font-size: 12px;
	color:#757575;
	margin: 0px 9px;
}

.footer .footerA .footerAList li a:hover{
	color:#E5004F;
}

/*出版信息*/
.footer .footerInfo{
	width: 1190px;
	height: 60px;
	text-align: center;
	color: #B2B2B2;
	font-size: 12px;
	line-height: 25px;
	
}
.footer .footerImg{
	width:350px;
	margin: 0 auto;
}
.footer .footerImg li{
	float:left;
	margin: 0px 10px;
}
.footer .footerImg .big img{
	width:120px;
	height:40px;
}
.footer .footerImg .big{
	margin-top: 5px;
}
/*底部结束*/



