.cont{
	width: 980px;
	height: 372px;
	margin:0 auto;
}
.find{
	width: 980px;
	height: 170px;
	padding-top: 27px;
}
.findPwd{
	width:240px;
	height:55px;
	font-size: 20px;
	color: #211616;
}
.findStep{
	width: 900px;
	height:87px;
	padding-left: 80px;
}
.findStep p{
	width:780px;
	height: 60px;
	background: url(../img/f3.png) no-repeat;
}
.findEvery{
	width:780px;
	height:20px;
	line-height: 20px;
	font-size: 12px;
}
.findEvery span{
	display: inline-block;
	float: left;
	width: 244px;
	color: #666;
}
.findEvery span.current{
	color: #E50048;
}
.findEvery span.last{
	width:45px;
	text-align: center;
}

.findMain{
	width:980px;
	height:112px;
	padding:45px 0px;
	margin:0 auto;
}
.client-list{
	width:980px;
	height:56px;
	color: #666;
}
.client-list label{
	float: left;
    width: 352px;
    height: 26px;
    line-height: 26px;
    padding-right: 16px;
    text-align: right;
    font-size: 14px;
}
.client-list .passtxt,.client-list .confPwd{
	float: left;
	width:200px;
    padding: 0 2px;
    height: 24px;
    padding-left: 5px;
    line-height: 24px;
    border: 1px solid #ccc;
    background: #eee;
    color: #666;
}
.client-list .tips{
	clear: both;
    padding-left: 368px;
    height: 30px;
    line-height: 30px;
    width:436px;
	height: 30px;
}

.client-list .tips .prompt{
	font-size: 12px;
	color: #E50048;
	line-height: 30px;
	float: left;
	width:350px;
	height:30px;
}
.client-list .tips span{
	display: inline-block;
	width:12px;
	height:22px;
	float: left;
	display: none;
	margin-right:3px;
	background: url(../img/client-register-button.png) no-repeat 0px -260px;
}
.client-submit{
	float: left;
    width: 84px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    background-position: -790px -153px;
    color: #fff;
    background-color: #E50048;
    font-weight: 700;
}
