.cont{
	width: 980px;
	height: 372px;
	margin:0 auto;
}
.find{
	width: 980px;
	height: 170px;
	padding-top: 27px;
}
.findPwd{
	width:240px;
	height:55px;
	font-size: 20px;
	color: #211616;
}
.findStep{
	width: 900px;
	height:87px;
	padding-left: 80px;
}
.findStep p{
	width:780px;
	height: 60px;
	background: url(../img/f4.png) no-repeat;
}
.findEvery{
	width:780px;
	height:20px;
	line-height: 20px;
	font-size: 12px;
}
.findEvery span{
	display: inline-block;
	float: left;
	width: 244px;
	color: #666;
}
.findEvery span.current{
	color: #E50048;
}
.findEvery span.last{
	width:45px;
	text-align: center;
}

.findMain{
	width:980px;
	height:112px;
	padding:45px 0px;
	margin:0 auto;
}

.complete{
	width:320px;
	height:50px;
	margin:0 auto;
	background: url(../img/f41.png) no-repeat;
	padding-left:70px;
	line-height: 25px;
}
.complete .first{
	font-size: 14px;
	color: #666;
}
.complete .second{
	font-size: 12px;
	color: #666;
}
.complete .second .count{
	color:#E50048;
	
}
.complete .second a{
	color:#333;
	text-decoration: underline;
	
}